<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cdn.jsdelivr.net_npm_bootstrap@4.5.3_dist_css_bootstrap.min.css" >
    <title>CARS</title>
  </head>
  <body>
    <!-- Количество элементов в одном списке машин одного бренда -->
    {% for car in cars %}
      <p>{{car[0]|length}}</p>
    {% endfor %}
    {% for image in images %}
      <img src="../{{image}}" alt="Обложка книжки">
    {% endfor %}
    <script src="../static/js/cdnjs.cloudflare.com_ajax_libs_popper.js_1.14.7_umd_popper.min.js"></script>
    <script src="../static/js/cdnjs.cloudflare.com_ajax_libs_popper.js_1.14.7_umd_popper.min.js"></script>
    <script src="../static/js/stackpath.bootstrapcdn.com_bootstrap_4.3.1_js_bootstrap.min.js"></script>
  </body>
</html>
